@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Poppins&display=swap');

$neon-green: rgb(24, 252, 35);
$primary-green: rgb(96, 245, 103);
$light-green: rgb(126, 252, 132);
$primary-gray: rgb(26, 25, 25);
$light-gray: rgb(78, 77, 77);

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes flicker {
    5% {
        text-shadow: none;
    }
    5.5% {
        text-shadow: 0px 0px 20px $neon-green;
    }
    6% {
        text-shadow: none;
    }
    6.5% {
        text-shadow: 0px 0px 20px $neon-green;
    }
    20% {
        text-shadow: none;
    }
    30% {
        text-shadow: 0px 0px 20px $neon-green;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: $primary-gray;
    scrollbar-width: 0px;
    scroll-padding: 75px;
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
        display: none;
    }
    ::selection {
        color: $primary-gray;
        background-color: $light-green;
    }
    span {
        color: $light-green;
        font-weight: bold;
    }
}
html, body {
    width: 100vw;
    overflow-x: hidden ;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 75px;
    @include flexCenter();
    border-bottom: 5px solid white;
    ul {
        @include flexCenter();
        list-style: none;
        gap: calc(min(5vw, 100px));
        a {
            font-size: calc(clamp(0.5em, 3vw, 1.5em));
            color: white;
            text-decoration: none;
        }
    }
    .drop_sign {
        display: none;
    }
}

.landing {
    width: 100vw;
    height: 100vh;
    @include flexCenter();
    flex-direction: column;
    color: white;
    text-align: center;
    .name {
        @include flexCenter();
        font-family: 'Neonderthaw', cursive;
        font-size: calc(min(6.5em, 15vw));
        text-shadow: 0px 0px 20px $neon-green;
        width: calc(max(310px, 45vw));
        animation: flicker 10s linear infinite;
    }
    p {
        font-size: calc(min(2em, 4vw));
        width: fit-content;
        text-align: center;
    }
}

.about {
    width: 100vw;
    @include flexCenter();
    flex-direction: column;
    padding: 5%;
    color: white;
    margin-bottom: 100px;
    gap: 100px;
    h1 {
        font-size: calc(min(5em, 13vw));
        line-height: 80%;
        border: 2px solid $light-green;
    }
    .p_img_container {
        width: calc(min(90%, 1400px));
        @include flexCenter();
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 100px;
        p {
            width: calc(min(100%, 600px));
            font-size: calc(clamp(1.1em, 3vw, 1.5em));
            border-top: 2px solid $primary-green;
            border-bottom: 2px solid $primary-green;
            padding: 2.5%;
            text-align: center;
            a {
                color: $light-green;
                font-weight: bold;
            }
        }
        .img {
            aspect-ratio: 3/5;
            width: 300px;
            background-color: $primary-green;
        }
    }
   .techstack_container {
        @include flexCenter();
        flex-direction: column;
        padding: 1%;
        width: calc(min(90%, 1400px));
        border-left: 2px solid $light-green;
        border-right: 2px solid $light-green;

        p {
            margin-bottom: 3vw;
            font-size: calc(clamp(1.5em, 5vw, 2em));
        }

        div {
            @include flexCenter();
            flex-wrap: wrap;
            gap: 2vw;
          

            ul {
                @include flexCenter();
                list-style: none;
                gap: 2vw;
                
                li {
                    @include flexCenter();
                    flex-direction: column;
                    // puts tech name ontop of tech img
                    font-size: calc(clamp(0.8em, 3vw, 1.3em));
                    img {
                        width: calc(clamp(50px, 15vw, 100px));
                    }
                }
            }
        }
   }
}

.projects {
    padding: 5%;
    width: 100vw;
    @include flexCenter();
    flex-direction: column;
    gap: 5vw;
    text-align: center;
    color: white;
 
    h1 {
        font-size: calc(clamp(3em, 5vw, 5em));
        line-height: 75%;
        border: 2px solid $light-green;
    }
    p {
        font-size: calc(clamp(0.95em, 3.3vw, 1.7em));
        width: calc(min(90%, 600px));
        border-left: 2px solid $light-green;
        border-right: 2px solid $light-green;
        padding: 0 2%;
    }
    #slogan {
        margin: 75px 0 ;
    }

    .projects_container {
        @include flexCenter();
        width: calc(min(90%, 1600px));
        flex-direction: column;
        gap: 100px;

        .each_project {
            display: block;
            margin: auto;
            width: 100%;
            @include flexCenter();
            flex-wrap: wrap;
            justify-content: space-around;
            gap: calc(max(25px, 2vw));


            .description_container {
                @include flexCenter();
                flex-direction: column;
                width: calc(min(100%, 500px));
                gap: 25px;
        
                h2 {
                    font-size: calc(clamp(1.7em, 2vw, 3.5em));
                    line-height: 80%;
                    border-bottom: 2px solid $light-green;
                }
                p {
                    width: 100%;
                    padding: 0 5%;
                    font-size: calc(clamp(0.9em, 2vw , 1.3em))
                }
                .button_group {
                    @include flexCenter();
                    gap: 25px;
            
                    button {
                        position: relative;
                        height: calc(clamp(50px, 7.5vw, 75px));
                        width: calc(clamp(100px, 15vw, 150px));
                        border: none;
                        border-top: 2px solid $light-green;
                        cursor: pointer;
                        @include flexCenter();
                        overflow: hidden;

                        .fill_button {
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            background-color: $light-green;
                            top: -100%;
                            transition: top 0.5s ease;
                        }
                        p {
                            position: absolute;
                            font-size: calc(clamp(1em, 2vw , 1.5em));
                            border: none;
                            background: none;
                            color: white;
                            transition: color 0.5s ease;
                            transition-delay: 0.15s;
                        }
                        &:hover {  
                            .fill_button {
                                top: 0;
                            }
                            p {
                                color: $primary-gray;
                            }
                        }
                    }
                }
            }
            .img_container {
                width: calc(min(100%, 600px));
                padding: 1%;
                border-top: 2px solid $light-green;
                border-bottom: 2px solid $light-green;
                @include flexCenter();
                overflow: hidden;
                img {
                    aspect-ratio: 16/9;
                    width: calc(min(100%, 711px));
                    transition: transform 1s;
                }
                &:hover {
                    .website_img  {
                        transform: scale(110%)
                        }
                } 
            }
        }
    }
}

.contact {
    padding: 5%;
    width: 100vw;
    height: 100vh;
    @include flexCenter();
    position: relative;
    color: white;
    h1 {
        font-size: 3.5em;
        line-height: 80%;
        border: 2px solid $light-green;
    }
}

@media only screen and (max-width: 1395px) {
    .each_project {
        margin-top: 25px;
    }

    #weather_flex {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        border-bottom: 2px solid white;
        align-items: flex-start;
        ul {
            position: absolute;
            margin-top: 75px;
            @include flexCenter();
            flex-direction: column;
            justify-content: flex-end;
            width: 90%;
            list-style: none;
            gap: 0vw;
            box-shadow: 0px 0px 5px 1px $light-green;
            transition: transform 1s;
            a {
                font-size: 1.5em;
                border-bottom: 2px solid $light-green;
                width: 100%;
                text-align: center;
                padding: 2.5% 0;
            }
        }
        .open {
            transform: translate(0, 0%);
        }
        .close {
            transform: translate(0, -105%);
        }
        .drop_sign {
            @include flexCenter();
            justify-content: flex-end;
            width: 100%;
            height: 75px;
            border-bottom: 2px solid white;
            padding: 0 2%;
            position: absolute;
            div {
                user-select: none;
                cursor: pointer;
                @include flexCenter();
                height: 50px;
                width: 50px;
                color: white;
                font-size: 2em;
            }
        }
    }
}



