@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&family=Poppins&display=swap");
@-webkit-keyframes flicker {
  5% {
    text-shadow: none;
  }
  5.5% {
    text-shadow: 0px 0px 20px #18fc23;
  }
  6% {
    text-shadow: none;
  }
  6.5% {
    text-shadow: 0px 0px 20px #18fc23;
  }
  20% {
    text-shadow: none;
  }
  30% {
    text-shadow: 0px 0px 20px #18fc23;
  }
}
@keyframes flicker {
  5% {
    text-shadow: none;
  }
  5.5% {
    text-shadow: 0px 0px 20px #18fc23;
  }
  6% {
    text-shadow: none;
  }
  6.5% {
    text-shadow: 0px 0px 20px #18fc23;
  }
  20% {
    text-shadow: none;
  }
  30% {
    text-shadow: 0px 0px 20px #18fc23;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  background-color: #1a1919;
  scrollbar-width: 0px;
  scroll-padding: 75px;
  -ms-overflow-style: none;
}

* ::-webkit-scrollbar {
  display: none;
}

* ::-moz-selection {
  color: #1a1919;
  background-color: #7efc84;
}

* ::selection {
  color: #1a1919;
  background-color: #7efc84;
}

* span {
  color: #7efc84;
  font-weight: bold;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 5px solid white;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 5vw;
}

.navbar ul a {
  font-size: 0.5em;
  color: white;
  text-decoration: none;
}

.navbar .drop_sign {
  display: none;
}

.landing {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-align: center;
}

.landing .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Neonderthaw', cursive;
  font-size: calc(min(6.5em, 15vw));
  text-shadow: 0px 0px 20px #18fc23;
  width: calc(max(310px, 45vw));
  -webkit-animation: flicker 10s linear infinite;
          animation: flicker 10s linear infinite;
}

.landing p {
  font-size: calc(min(2em, 4vw));
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.about {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
  color: white;
  margin-bottom: 100px;
  gap: 100px;
}

.about h1 {
  font-size: calc(min(5em, 13vw));
  line-height: 80%;
  border: 2px solid #7efc84;
}

.about .p_img_container {
  width: calc(min(90%, 1400px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 100px;
}

.about .p_img_container p {
  width: calc(min(100%, 500px));
  font-size: calc(clamp(1.1em, 3vw, 1.5em));
  border-top: 2px solid #60f567;
  border-bottom: 2px solid #60f567;
  padding: 2.5%;
  text-align: center;
}

.about .p_img_container p a {
  color: #7efc84;
  font-weight: bold;
}

.about .p_img_container .img {
  aspect-ratio: 3/5;
  width: 300px;
  background-color: #60f567;
}

.about .techstack_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1%;
  width: calc(min(90%, 1400px));
  border-left: 2px solid #7efc84;
  border-right: 2px solid #7efc84;
}

.about .techstack_container p {
  margin-bottom: 3vw;
  font-size: calc(clamp(1.5em, 5vw, 2em));
}

.about .techstack_container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2vw;
}

.about .techstack_container div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 2vw;
}

.about .techstack_container div ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: calc(clamp(0.8em, 3vw, 1.3em));
}

.about .techstack_container div ul li img {
  width: calc(clamp(50px, 15vw, 100px));
}

.projects {
  padding: 5%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5vw;
  text-align: center;
  color: white;
}

.projects h1 {
  font-size: calc(clamp(3em, 5vw, 5em));
  line-height: 75%;
  border: 2px solid #7efc84;
}

.projects p {
  font-size: calc(clamp(0.95em, 3.3vw, 1.7em));
  width: calc(min(90%, 600px));
  border-left: 2px solid #7efc84;
  border-right: 2px solid #7efc84;
  padding: 0 2%;
}

.projects #slogan {
  margin: 100px 0;
}

.projects .each_project {
  display: block;
  margin: auto;
  width: calc(min(90%, 1600px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: calc(max(25px, 2vw));
  margin-bottom: calc(max(7.5vw, 25px));
}

.projects .each_project .description_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(min(100%, 500px));
  gap: 25px;
}

.projects .each_project .description_container h2 {
  font-size: calc(clamp(1.7em, 2vw, 3.5em));
  line-height: 80%;
  border-bottom: 2px solid #7efc84;
}

.projects .each_project .description_container p {
  width: 100%;
  padding: 0 5%;
  font-size: calc(clamp(0.9em, 2vw , 1.3em));
}

.projects .each_project .description_container .button_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.projects .each_project .description_container .button_group button {
  position: relative;
  height: calc(clamp(50px, 7.5vw, 75px));
  width: calc(clamp(100px, 15vw, 150px));
  border: none;
  border-top: 2px solid #7efc84;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.projects .each_project .description_container .button_group button .fill_button {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #7efc84;
  top: -100%;
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease;
}

.projects .each_project .description_container .button_group button p {
  position: absolute;
  font-size: calc(clamp(1em, 2vw , 1.5em));
  border: none;
  background: none;
  color: white;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.projects .each_project .description_container .button_group button:hover .fill_button {
  top: 0;
}

.projects .each_project .description_container .button_group button:hover p {
  color: #1a1919;
}

.projects .each_project .img_container {
  width: calc(min(100%, 600px));
  padding: 1%;
  border-top: 2px solid #7efc84;
  border-bottom: 2px solid #7efc84;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.projects .each_project .img_container img {
  aspect-ratio: 16/9;
  width: calc(min(100%, 711px));
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.projects .each_project .img_container:hover .website_img {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.contact {
  padding: 5%;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: white;
}

.contact h1 {
  font-size: 3.5em;
  line-height: 80%;
  border: 2px solid #7efc84;
}

@media only screen and (max-width: 1395px) {
  .each_project {
    margin-top: 25px;
  }
  #weather_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=styles.css.map */